<div class="nav-box sticky">
    <ul>
        <li><a href="https://www.ubcbaja.com/"><img src='../../assets/UBC-Baja-Logo-2017-Goat-245x300.png'/></a></li>
        <li><a class="nav-item" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
        <li><a class="nav-item">Our Team</a></li>
        <li><a class="nav-item">Race Results</a></li>
        <li><a class="nav-item" [routerLink]="['/downloads']" routerLinkActive="router-link-active" >Downloads</a></li>
    </ul>
</div>
