/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;
}

body { 
    background-color: #333;
    margin: 0;
    padding-top: 46px;
}

div {
    border-radius: 1px;
    padding: 5px;
    background-color: whitesmoke;
    margin: 10px 10px 0px 10px;
    align-content: center;
}